
<div class="container">
  <button class="btn btn-back" (click)="goBack()">
      <i class="ph ph-arrow-left"></i>
      <span> Volver</span>
  </button>

  <section class="card product-detail-container">
      <div class="row">
          <!-- Imagen del producto -->
          <div class="col-md-6">
              <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                  @if(productImages.length > 1){
                  <div class="carousel-indicators">
                      <button *ngFor="let image of productImages; let i = index" type="button" [attr.data-bs-target]="'#carouselExampleIndicators'" [attr.data-bs-slide-to]="i" [ngClass]="{'active': i === 0}" [attr.aria-label]="'Slide {{ i + 1 }}'"></button>
                  </div>
                  }
                  <div class="carousel-inner">
                      <div *ngFor="let image of productImages; let i = index" class="carousel-item" [class.active]="i === 0">
                          <img class="d-block w-100 product-image" [src]="image.image" alt="{{image.image}}">
                          @if(isAdmin){
                          <div class="text-center">
                              <button class="btn admin-button mt-3" (click)="deleteImage(image.product_image_id)"><i class="ph ph-trash"></i> Borrar imagen</button>
                          </div>
                          }
                      </div>
                  </div>
                  @if(productImages.length > 1){
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                  </button>
                  }
              </div>
          </div>

          <!-- Información del producto -->
          <div class="col-md-6">
              <div class="product-info-container">
                  <div class="title">
                      <h1 class="title">{{product.product}}</h1>
                  </div>
                  <div class="mb-3">
                      @if(isAdmin){
                      <label class="details-label" for="description">Product description</label>
                      }
                      <div class="mb-3">
                          <p class="paragraph">{{ mostrarDescripcionCompleta ? product.description : (product.description | slice:0:limiteCaracteres) }}{{ !mostrarDescripcionCompleta && product.description.length > limiteCaracteres ? '...' : '' }}</p>
                          <span class="button-show-more" *ngIf="product.description.length > limiteCaracteres" (click)="mostrarDescripcionCompleta = !mostrarDescripcionCompleta">
                              {{ mostrarDescripcionCompleta ? 'Show less' : 'Show more' }}
                          </span>
                      </div>
                  </div>
                  <div class="mb-3">
                      @if(isAdmin){
                      <label class="details-label" for="price">Price</label>
                      }
                      <p class="product-price">$ {{product.price}}</p>
                  </div>
                  @if(isAdmin){
                  <div class="mb-3">
                      <label class="details-label" for="gtin">GTIN </label>
                      <p class="paragraph">{{product.gtin}}</p>
                  </div>
                  }
                  <div class="mb-3">
                    <label class="details-label" for="stock"> </label>
                    <p class="paragraph" [ngClass]="{'stock-available': product.stock > 0, 'stock-out': product.stock < 1}">
                        {{ product.stock > 0 ? 'Disponible' : 'Agotado' }}
                    </p>
                </div>
                

                  @if(!isAdmin){
                  <div class="btn-cont mt-5">
                    <div class="quantity-selector-container card mt-2 text-center">
                      <div class="quantity-selector d-inline-block">
                          <button class="btn btn-small" (click)="quantityDown()"><i class="ph ph-minus"></i></button>
                          <input class="quantity-input" type="text" min="0" value="{{productQuantity}}" disabled>
                          <button class="btn btn-small" (click)="quantityUp()"><i class="ph ph-plus"></i></button>
                      </div>
                  </div>

                      <div class="shopping-cart-button-container mt-2">
                          <button class="btn shopping-cart-button" (click)="addToCart()">
                              <i class="ph ph-shopping-bag icon-text-ul"></i>
                              <span>Añadir</span>
                          </button>
                      </div>
                  </div>
                  }@else {
                  <div class="admin-buttons-container">
                      <button class="btn admin-button" (click)="editarProducto()">
                          <i class="ph ph-note-pencil icon-text-ul"></i> Edit
                      </button>
                      <button class="btn admin-button" (click)="showImageModal()">
                          <i class="ph ph-plus"></i> Add image
                      </button>
                  </div>
                  }
              </div>
          </div>
      </div>
  </section>
</div>
