html, body {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  .main {
    flex: 1 0 auto; /* El contenido crece para llenar el espacio disponible pero no encoge */
  }
  
  footer {
    flex-shrink: 0; /* El footer no encoge */
  }
  