<div class="container mt-5">
  <h2>Mi Carrito</h2>
  <div class="row">
    <div class="col-12" *ngIf="cartItems.length === 0">
      <p>No hay productos en el carrito.</p>
    </div>
    <div class="col-12" *ngIf="cartItems.length > 0">
      <button (click)="deleteCart()" class="btn btn-danger mb-3">Vaciar Carrito</button>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let item of cartItems">
          <div class="card h-100">
            <img [src]="item.image" class="card-img-top" alt="{{ item.product.product }}">
            <div class="card-body">
              <h5 class="card-title">{{ item.product.product }}</h5>
              <p class="card-text">Precio: ${{ item.product.price }}</p>
              <p class="card-text">Cantidad: {{ item.quantity }}</p>
              <button (click)="removeFromCart(item.cart_id)" class="btn btn-danger">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4">
        <h3>Subtotal: ${{ subtotal }}</h3>
        <button (click)="buyNow()" class="btn btn-success">Comprar</button>
      </div>
    </div>
  </div>
</div>
