<div class="card-header">
    <span class="btn-return" (click)="redirect(['product'])">
        <i class="ph ph-arrow-circle-left icon-text-button"></i>
        Regresar
    </span>
</div>
<br>

<div class="card-body">
    <div class="row">

        <!-- product image  -->
    
        <div class="col-md-4">
            <div class="card">

              <!-- image  -->

              <div class="card-body-product text-center">
                  <img src="{{ product.image.image != '' ? product.image.image: 'assets/images/user-logo-default.png' }}" alt="..." class="img-thumbnail product-image">
              </div>

              <!-- button  -->

              <div class="edit-product-image text-center">
                  <label for="uploadImage" class="cursor-pointer">
                      <input type="file" (change)="fileChangeHandler($event)" id="uploadImage" style="display:none">
                      <i class="ph ph-note-pencil icon-text-button"></i>
                      Editar imagen
                  </label>
              </div>
            </div>
        </div>
    
        <!-- product data  -->
    
        <div class="col-md-8">
            <div class="card">
                <div class="card-body-product">

                    <!-- product  -->

                    <div class="product-title">
                        {{ product.product+ " " + product.product }}
                    </div>

                    <table class="table">
                        <tbody>
                            
                            <!-- gtin  -->
                            <tr>
                                <th class="col-md-4">gtin</th>
                                <td>{{ product.gtin }}</td>
                            </tr>
                                
                            <!-- price  -->
                            <tr>
                                <th class="col-md-4">Correo electrónico</th>
                                <td>{{ product.price }}</td>
                            </tr>
                                
                            <!-- category  -->
                            <tr>
                                <th class="col-md-4">Región</th>
                                <td>{{ category.category }}</td>
                            </tr>
                            
                            <!-- gtin  -->
                            <tr>
                                <th class="col-md-4">Dirección</th>
                                <td>{{ product.stock }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- buttons  -->

                    <button type="button" class="btn btn-primary btn-edith" (click)="updateProduct()">
                        <i class="ph ph-note-pencil"></i>
                        Editar
                    </button>

                    <button type="button" class="btn btn-danger btn-edith">
                        <i class="ph ph-trash"></i>
                        Eliminar
                    </button>
                </div>
            </div>
        </div>
    
    </div>
</div>


<!-- Modal form  -->

<div class="modal fade" tabindex="-1" data-bs-backdrop="static" id="modalForm">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Cliente</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
  
            <!-- Product form  -->
            
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
  
            
                <div class="row">
  
                    <!-- product  -->
    
                    <div class="col-md-6">
                        <div class="mb-3">
                          <label for="product">Nombre <span class="color-red">*</span> </label>
                          <input type="text" class="form-control" formControlName="product" id="product" placeholder="Nombre del cliente..." 
                              [ngClass]="{'is-invalid': form.controls['product'].errors && submitted}" >
                          @if (form.controls['product'].errors && submitted) {
                            <small class="input-error-message">Favor de ingresar un nombre válido</small>
                          }
                        </div>
                    </div>
          
                    <!-- description  -->
          
                    <div class="col-md-6"> 
                        <div class="mb-3">
                          <label for="description">Apellidos <span class="color-red">*</span> </label>
                          <input type="text" class="form-control" formControlName="description" id="description" placeholder="Apellidos del cliente..." 
                              [ngClass]="{'is-invalid': form.controls['description'].errors && submitted}" >
                          @if (form.controls['description'].errors && submitted) {
                            <small class="input-error-message">Favor de ingresar apellidos válidos</small>
                          }
                        </div>
                    </div>
          
                    <!-- gtin  -->
          
                    <div class="col-md-6"> 
                        <div class="mb-3">
                          <label for="gtin">gtin <span class="color-red">*</span> </label>
                          <input type="text" class="form-control" formControlName="gtin" id="gtin" placeholder="gtin del cliente..." 
                              [ngClass]="{'is-invalid': form.controls['gtin'].errors && submitted}" >
                          @if (form.controls['gtin'].errors && submitted) {
                            <small class="input-error-message">Favor de ingresar un gtin válido</small>
                          }
                        </div>
                    </div>
          
                    <!-- price  -->
          
                    <div class="col-md-6"> 
                        <div class="mb-3">
                          <label for="price">Correo electrónico <span class="color-red">*</span> </label>
                          <input type="text" class="form-control" formControlName="price" id="price" placeholder="Correo electrónico del cliente..." 
                              [ngClass]="{'is-invalid': form.controls['price'].errors && submitted}" >
                          @if (form.controls['price'].errors && submitted) {
                            <small class="input-error-message">Favor de ingresar un correo electrónico válido</small>
                          }
                        </div>
                    </div>  
          
                    <!-- category_id  -->
          
                    <div class="col-md-6"> 
                        <div class="mb-3">
                          <label for="category_id">Región <span class="color-red">*</span> </label>
                          <select class="form-select" formControlName="category_id" id="category_id"
                              [ngClass]="{'is-invalid': form.controls['category_id'].errors && submitted}">
                            <option [ngValue]=null hidden>Selecciona una región...</option>
                            @for(category of categories; track category) {
                              <option [ngValue]="category.category_id">{{ category.category }}</option>
                            }
                          </select>
                          @if (form.controls['category_id'].errors && submitted) {
                            <small class="input-error-message">Favor de seleccionar una región válida</small>
                          }
                        </div>
                    </div>
          
                    <!-- stock  -->
          
                    <div class="mb-3">
                      <label for="stock">Dirección <span class="color-red">*</span> </label>
                      <textarea rows="2" class="form-control" formControlName="stock" id="stock" placeholder="Dirección del cliente..." 
                        [ngClass]="{'is-invalid': form.controls['stock'].errors && submitted}" >
                      </textarea>
                      @if (form.controls['stock'].errors && submitted) {
                        <small class="input-error-message">Favor de ingresar una dirección válida</small>
                      }
                    </div>
                </div>
      
                <!-- button  -->
                
                <div class="form-button">
                  <button type="submit" class="btn btn-primary btn-new">Guardar</button>
                </div>
      
              </form>
  
        </div>
      </div>
    </div>
  </div>